<!-- Obere Navigation -->
<!-- Dieser Bereich enthält die obere Navigationsleiste mit Links zu verschiedenen Seiten wie News,
  FAQ und Kontakt. Außerdem gibt es einen Such-Button. -->
<nav class="top-nav">
    <ul class="nav-list">
        <li><a routerLink="/home">News</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
        <li><a routerLink="/kontakt">Kontakt</a></li>
        <li class="search">
            <!-- Such-Button mit einem Icon -->
            <button aria-label="Search">
                <i class="bi bi-search-heart"></i>
            </button>
        </li>
    </ul>
</nav>

<!-- Hauptbereich mit Logo und Navigation -->
<header class="header">
    <!-- Logo -->
    <div class="logo">
        <img src="assets/images/logo.png" alt="Logo" width="90" height="70" />
        <h3>Herzenskleider</h3>
    </div>

      <!-- Desktop-Navigation -->
    <!-- Navigation für Desktop-Bildschirme mit Dropdown-Menüs. -->
    <nav class="main-nav">
        <ul class="nav-list">
            <li class="dropdown">
                <a href="#">Startseite</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Natur & Umwelt</a></li>
                    <li><a href="#">Tiere</a></li> 
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Projekte</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Armut Schweiz</a></li>
                    <li><a href="#">Kinderhilfswerke</a></li>
                </ul>
            </li>
            <li><a routerLink="/organisation">Organisation</a></li>
        </ul>
         <!-- Spenden-Button -->
    <!-- Ein Button, der die Nutzer zur Spenden-Seite weiterleitet. -->
    <button type="button" class="btn btn-sm btn-pill btn-danger" routerLink="/register">
        <i class="fa fa-heart"></i> Spenden
    </button>
    </nav>
  


  


    <!-- Offcanvas-Menü für mobile Geräte. -->
    <div class="container-fluid mt-3">
        <div class="offcanvas offcanvas-end" id="demo">
            <div class="offcanvas-header">
                <h1 class="offcanvas-title">Menü</h1>
                <button type="button" class="button button3"  routerLink="/register">
                    <i class="bi bi-heart"></i> Spenden
                </button>
                <p aria-label="Search">
                    <i class="fa fa-search"></i><a href="#"></a>
                </p>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>
            <div class="offcanvas-body">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">Startseite</a>
                    <a href="#" class="list-group-item list-group-item-action">Projekte</a>
                    <a href="#" class="list-group-item list-group-item-action">Organisationen</a>
                </div>
            </div>
        </div>
        
    
    </div>
     
    <!-- Mobile-Menü-Toggle -->
    <!-- Button zum Öffnen des mobilen Menüs. -->
    <div>
        <button class="mobile-menu-toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">☰
        </button>
    </div>
</header>