<div class="container-fluid p-5 bg-info text-black text-center">
    <img src="assets/images/donation.jpg" alt="Logo" width="190" height="170" />
    <h1>Willkommen beim Kleiderspenden-Portal</h1>
    <p>
        Hier können Sie Ihre Kleiderspenden registrieren und entscheiden, in welche
        Krisenregion sie geliefert werden sollen.
    </p>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <h3>Katastrophen</h3>
            <img src="assets/images/doam.jpg" alt="Logo" width="150" height="140" />
            <p>Die Bilder von zerstörten Dörfern und verzweifelten Menschen nach Erdbeben, Überschwemmungen oder anderen
                Katastrophen verdeutlichen, wie wichtig schnelle Hilfe ist. Ihre Kleiderspenden tragen dazu bei,
                Menschen in Not mit dem Nötigsten zu versorgen und ihnen einen kleinen Funken Hoffnung zurückzugeben</p>
        </div>
        <div class="col-sm-4">
            <h3>Organisationen</h3>
            <img src="assets/images/events.jpg" alt="Logo" width="150" height="140" />
            <p>Durch die Zusammenarbeit mit lokalen und internationalen Organisationen können wir sicherstellen,
                dass Ihre Kleiderspenden effizient und gezielt eingesetzt werden. Jede Spende zählt und wird durch
                unsere Partner direkt an Bedürftige weitergeleitet ohne Umwege</p>
        </div>
        <div class="col-sm-4">
            <h3>Kinder</h3>
            <img src="assets/images/kid.jpg" alt="Logo" width="160" height="160" />
            <p>Ein Lächeln auf dem Gesicht eines Kindes ist unbezahlbar. Ihre Kleiderspenden helfen uns, Kindern in Not
            Kleidung und Schutz zu bieten. Gemeinsam können wir dazu beitragen, ihnen eine bessere Zukunft zu
            ermöglichen mit Ihrer Hilfe wird aus einem kleinen Beitrag eine große Wirkung.
        </div>
    </div>
</div>